<h1 id="experience">Experience</h1>
<div class="container">
    
    <div class="content"> 
        <h1>{{Work.startDate}} to {{Work.endDate}} </h1>
        <h2>{{Work.Company}} {{Work.Scope}} </h2>
       
        <ul>
            <li>{{Work.Project[0]}}</li>
            <li>{{Work.Project[1]}}</li>
            <li>{{Work.Project[2]}}</li>
            <li>{{Work.Project[3]}}</li>
            <li>{{Work.Project[4]}}</li>
        </ul>
    </div>
    <div class="content">
        <h1>{{Intern.startDate}} to {{Intern.endDate}} </h1>
        <h2>{{Intern.Company}}</h2>
       
        <ul>
            <li>{{Intern.Project[0]}}</li>
            <li>{{Intern.Project[1]}}</li>
            <li>{{Intern.Project[2]}}</li>
        </ul>
    </div>
</div>