<h1 id="skill">Skills</h1>
<div class="skills_wrapper">
    <br>
    <div id="java" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2015/12/05/194953_java_256x256.png">
        <div class=""><b>java</b></div>
    </div>
    <div id="php" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2015/10/06/112995_php_512x512.png">
        <div class=""><b>PHP</b></div>
    </div>
    <div id="js" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2015/08/30/93000_javascript_512x512.png">
        <div class=""><b>JavaScript</b></div>
    </div>
    <div id="mysQL" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2015/12/02/190843_database_720x720.png">
        <div class=""><b>MySQL</b></div>
    </div>
    <div id="python" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2016/07/16/634601_python_512x512.png">
        <div class=""><b>python</b></div>
    </div>
    <div id="HTML" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img src="https://www.shareicon.net/data/64x64/2016/05/06/760776_html_512x512.png">
        <div class=""><b>HTML</b></div>
    </div>
    <div id="Angular" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img alt="Angular Logo" src="https://www.shareicon.net/data/48x48/2015/09/03/95033_web_512x512.png">
        <div class=""><b>Angular</b></div>
    </div>
    <div id="Linux" class="skills_container" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewbox="0 0 32 32">
        <img alt="Linux Logo" src="https://www.shareicon.net/data/64x64/2015/10/30/145569_linux_512x512.png">
        <div class=""><b>Linux</b></div>
    </div>
</div>