<h1 id="skill">Skills</h1>
<div class="skills_wrapper">
    <div id="java" class="skills_container">
        <img src="assets/java.png" alt="Java Logo">
        <div class=""><b>java</b></div>
    </div>
    <div id="php" class="skills_container">
        <img src="assets/php.png" alt="PHP Logo">
        <div class=""><b>PHP</b></div>
    </div>
    <div id="js" class="skills_container">
        <img src="assets/javascript.png" alt="JavaScript Logo">
        <div class=""><b>JavaScript</b></div>
    </div>
    <div id="mysQL" class="skills_container">
        <img src="assets/mysql.png" alt="MySQL Logo">
        <div class=""><b>MySQL</b></div>
    </div>
    <div id="python" class="skills_container">
        <img src="assets/python.png" alt="Python Logo">
        <div class=""><b>python</b></div>
    </div>
    <div id="HTML" class="skills_container">
        <img src="assets/html.png" alt="HTML Logo">
        <div class=""><b>HTML</b></div>
    </div>
    <div id="Angular" class="skills_container">
        <img alt="Angular Logo" src="assets/Angular.png">
        <div class=""><b>Angular</b></div>
    </div>
    <div id="Linux" class="skills_container">
        <img alt="Linux Logo" src="assets/linux.png">
        <div class=""><b>Linux</b></div>
    </div>
</div>