<br>
<br>
<h1>{{title}}</h1>
<div class="timeline">
    <div class="container right">
        <div class="content">
            <h2>2023 - Current</h2>
            <p>{{Work.school}}</p>
            <li>{{Work.Job}}</li>
            <li>{{Work.FYP[1]}}</li>
            <li>{{Work.FYP[2]}}</li>
            <li>{{Work.FYP[3]}}</li>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2020 - 2022</h2>
            <p>{{University.school}}</p>
            <p>{{University.Qualification}}</p>
            <ul>
                <b><u>Final Year Project</u></b>
                <li> {{University.FYP[0]}}</li>
                <li> {{University.FYP[1]}}</li>
                <li> {{University.FYP[2]}}</li>
            </ul>

        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2015 - 2017</h2>
            <p>{{Polytechnic.school}}</p>
            <p>{{Polytechnic.Qualification}}</p>
            <p>{{Polytechnic.FYP}}</p> 
        </div>
    </div>
</div>