<br>
<br>
<h1>{{title}}</h1>
<div class="timeline">
    <div class="container right">
        <div class="content">
            <h2>2023 - Current</h2>
            <h3>{{Work.school}}</h3>
            <p>{{Work.FYP[0]}}</p>
            <br>
            <p>{{Work.FYP[1]}}</p>
            

        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>2020 - 2022</h2>
            <h3>{{University.school}}</h3>
            <p>{{University.Qualification}}</p>
            <ul>
                <b><u>Final Year Project</u></b>
                <li> {{University.FYP[0]}}</li>
                <li> {{University.FYP[1]}}</li>
                <li> {{University.FYP[2]}}</li>
            </ul>

        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>2015 - 2017</h2>
            <h3>{{Polytechnic.school}}</h3>
            <p>{{Polytechnic.Qualification}}</p>
            <p>{{Polytechnic.FYP}}</p> 
        </div>
    </div>
</div>