/* You can add global styles to this file, and also import other style files */

html {
    background-color: rgb(190, 189, 189);
    scroll-behavior: smooth;
}

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.nav {
    position: absolute;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
}

.nav_container {
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
    margin-right: 2rem;
    padding-right: 5px;
    text-align: center;
}

.Icon {
    height: 40px;
    width: 40px;
    text-align: center;
}

.Icon-Java {
    margin-left: 200px;
    margin-right: 350px;
}

.fontawesomesvg {
    height: 30px;
    width: 30px;
    fill: white;
    margin: 0 auto;
    --c: #1095c1;
    /* the color */
    color: #0000;
    background: linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.1s;
}

.fontawesomesvg :hover {
    --_p: 100%
}


/* Set a background color */

body {
    font-family: Helvetica, sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.skills {
    width: 100%;
    left: 100%;
    text-align: center;
}

.bar {
    width: 50%;
    background-color: #ddd;
}

.skills {
    display: inline-block;
}

.skills_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
}

.skills_container {
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding-right: 5px;
    text-align: center;
}

.skills_java {
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-right: 2rem;
    padding-right: 5px;
    text-align: center;
}

.java {
    width: 60%;
    background-color: #686868;
}

.php {
    width: 80%;
    background-color: #686868;
}

.js {
    width: 65%;
    background-color: #686868;
}

.php {
    width: 60%;
    background-color: #686868;
}